

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0D1321;
  }
  /*navber design*/
  .navber{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 38px 113px;
  
  }
  .my-name{
      font-weight: bolder;
      font-size: 21px;
  
  }
  .resume-btn{
      font-weight: 700px;
      font-size: 15px;
      background-color: none;
      border: none;
      margin: 13px 18px;
      border-radius: 6px;
  }

  .hero{
    background-image: url(../assets/Hero-bg.png);
    text-align: center;
    justify-content: center;
    margin: 0 166px;
}


.hero-section{
    margin: 0 166px;
    padding: 32px 16px;
}
.hero-title{
    font-weight: bolder;
    font-size: 36px;


}
.hero-massage{
    font-size: 12px;
}
.contact-btn{
    background-color: #0D1321;
    border-radius: 6px;
    color: #FFFFFF;
    margin: 16px 18px;

}
/*perspective style*/

.perspective{
    margin: 0 111px;
    
}

.reason-heading{
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    margin: 0 250px;
    padding: 18px 0;
}
.reason-massage{
    font-size: 12px;
    text-align: center;
    margin: 0 250px;
    padding: 36px 0px;
}
.reason-sub-heading{
    font-weight: bold;
    font-size: 18px;
}

.reason-heading-explanation{
    font-size: 12px;
}

.reason{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 184px;
    padding: 24px 0;
}


.learn-btn{
    font-weight: 700px;
    font-size: 15px;
    margin: 9px 0px;
}


.inspiration{
    text-align: center;
}

/*target section style*/

.current-targets{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
    padding: 20px 0;
}

.target-1{
    background-color: #ff4b1e1c;
    padding: 40px;
    
}
.target-2{
    background-color: #004de81c;
    margin: 0 24px;
    padding: 40px;
}

.target-3{
    background-color: #ffdd001c;
    padding: 40px;
}

.target-heading{
    font-weight: bolder;
    font-size: 18px;
}

.target-heading-massage{
    font-size: 12px;
    text-align: center;
    margin: 20px 400px;
}

.target-massage{
    font-size: 12px;
}

